<!-- <div class="content flex align-items-center justify-content-around">
  <div class="left-side">
    <h1>Hello, {{ title }}</h1>
    <p>Congratulations! Your app is running. 🎉</p>
  </div>
  <div class="w-full md:w-2">
    <p-divider layout="vertical" styleClass="hidden md:flex">
      <b>OR</b>
    </p-divider>
  </div>

  <div class="right-side">
    <div class="social-links">
      <div class="card flex justify-content-center">
        <p-button label="Check" icon="pi pi-check"></p-button>
      </div>
    </div>
  </div>
</div> -->

<app-auth></app-auth>
